/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #fff;
}



/* ////////////////////////////////////////////////////
///////////////// MY CSS STYLES ///////////////////////
/////////////////////////////////////////////////////*/

/* skills and tech icons on home page */
.skill-icon-wrapper{
  text-align: center;
}
/* image styling on abstrach background on home page */
.image-wrapper{
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /*z-index: -1;   */
}

/* writing on top image header in index */
#top-header{
  color: black;
  font-size: 25px;
}

/* icon styling for skills and technologies */
.skill-icon{
  max-height: 50px;
  max-width: 50px;
  padding:5px;
}

/* styles for social and page links in top menu */

.top-nav-menu-links{
  font-weight: bold;
  color: black;
}

/* copyright footer styles */
.copyright{
  color: black;
  text-align: center;
  font-weight: bold;
  background-color: white;
}

.page-footer{
  background: white;
}

.light, .page-footer .footer-copyright {
  font-weight: 300;
  background-color: white;
}

