/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: black;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #fff;
}



/* ////////////////////////////////////////////////////
///////////////// MY CSS STYLES ///////////////////////
/////////////////////////////////////////////////////*/

body {
  font-family: 'Roboto', sans-serif;

}

/* skills and tech icons on home page */
.skill-icon-wrapper{
  text-align: center;
}

.projects-link-index{
  font-size: 25px;
}
/* style for 'projects' link on home page */
.projects-link-index:hover{
  font-size: 30px;
}


/* icon styling for skills and technologies */
.skill-icon{
  max-height: 50px;
  max-width: 50px;
  padding:5px;
}

/* styles for social and page links in top menu */

.top-nav-menu-links{
  font-weight: bold;
  color: black;
}

/* copyright footer styles */
.copyright{
  color: black;
  text-align: center;
  font-weight: bold;
  background-color: white;
}

.page-footer{
  background: white;
}

.light, .page-footer .footer-copyright {
  font-weight: 300;
  background-color: white;
}

/* contact form */
#contact-form{
  padding-top:10%;
}

/* portfolio image in about page */
#portfolio-image{
  max-height: 265px;
  max-width: 265px;
}

/* image size for hikarl and pearl lash project shots in index page */
.index-project-shot{
  max-height: 450px;
  max-width: 450px;
}
/* image size for my closet project shot in index page */
.my-closet-project-shot{
  max-height: 500px;
  max-width: 500;
}


.main-nav{
  background-color: white;
}

.main-nav-link"{
  color: black;
  font-weight: bold;
}

.index-project-section{
  margin-top:10%;
  text-align: center;
}
/* white modern building image in index */
#logo-image{
  max-height: 650px;
  max-width: 2000px;

}

#contact-form-btn{
  color: white;
  background-color: black;
}

/* index page heading for project cards */
.recent-projects{
  text-align: center;
  font-weight: bold;
}

/*//////////////////// CONTACT PAGE ////////////////////////////////// */

/* header text style for heading in contact.html */
#contact-header{
  color: black;
}

.here-link-form{
  color: red;
}


/*///////////////// PROJECT PAGE //////////////////////////////*/
/* image size for pearl lash project screen shots */
.pearl-project-page{
  max-height: 550px;
  max-width: 600px;
}

/* image size for hi karl project screen shots */
.karl-project-page{
  max-height: 550px;
  max-width: 600px;
}
/* title for pearl lash project for projects.html */
.pearl-lash-title{
  text-align: center;
}
/* title for ki karl project for projects.html */
.hi-karl-title{
  text-align: center;
}


/*.pearl-project-description{
  text-align: center;
}*/

.hi-karl-project-description{
  text-align: center;
}

/* LINK COLORS FOR ALL LINKS IN PROJECTS.HTML */
.github-link-projects{
  color: red;
}

.pearl-link-projects{
  color: red;
}

.hi-karl-link-projects{
  color: red;
}

.my-karl-project-link{
  color: red;
}


/*////////////////////// RESUME STYLES /////////////////////*/
/* resume.html styles stpecific to resume only */



.resume-header{
  border: 2px solid black;
}
.left-section{
  border: 2px solid red;
}
.main-section{
  border: 2px solid blue;
}



/*styles for headings such as About, Experiance, Projects */
.main-heading{
  text-align: center;
}
/* styles for icons like python, angular, left section */
.skill-icon{
  width: 60px;
  height: 60px;
}
/* styles for social link images in header by name. ex: email, phone, github etc. */
.header-social-link{
  width: 40px;
  height: 40px;
  font-size: 20px;
}

